@media screen and (max-width: 870px) {
    .root{
        display: none;
    }
    .flex .box-3 .content-img{
        flex-direction:column-reverse;
    }
}
@media screen and (min-width: 870px) {
    .flex .header{
        display: none;
    }
}
/*****************************************************/
.box-1, .box-2, .box-3, .box-4, .continue-button{
    max-width: 1160px;
    margin: auto;
}
body{
    background: #E5E5E5;
}
body .flex{
    display: flex;
    flex-direction: column;
}
.root, nav, .box-1, .box-2, .box-3, .box-4, .continue-button{
    background-color: #FFFFFF;
}
.box-2, .box-3, .box-4{
    margin-top: 8px;
}
nav, .header, .box-1, .box-2, .box-3, .box-4, .continue-button{
    font-family: 'Poppins', sans-serif;
}
/**************************NAV***************************/
.root nav{
    margin: auto;
    max-width: 1160px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5%;
    gap: 30%;
}
.root nav .nav-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    gap: 10px;
}
.root nav .nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    gap: 10px;
}
.root nav span{
    color: #E03C31;
}
/*************************HEADER**************************/
.header{
    display: flex;
    align-items: center;
    background: #FFFFFF;
    width: 100%;
}
.header span{
    flex: 1;
    text-align: center;
    margin-left: -56px;
}
/**************************BOX-1**************************/
.box-1{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: 100%;
}
.image-1 img{
    width: 100%;
}
.image-1{
    position: relative;
}
.box-1 #gradient{
    position: absolute;
    left: 0;
}
.image-1 svg{
    position: absolute;
    left: calc(50% - 16px);
    bottom: 20px;
}
.box-1 #full-body{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #424242;
    margin: 16px;
}
.box-1 .person-clock{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
    margin-left: 4.27%;
    margin-bottom: auto;
    margin-right: 4.27%;
}
.person-clock-section-1{
    display: flex;
}
.person-clock-section-2{
    display: flex;
}

.box-1 #person-text{
    font-size: 14px;
    line-height: 160%;
    color: #424242;
    padding-left: 10px;
}
.box-1 #clock-text{
    font-size: 14px;
    line-height: 160%;
    color: #424242;
    padding-left: 10px;
}
/*********************BOX-2*******************************/
.box-2{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    max-width: 1160px;
}
.box-2 #select-sessions{
    font-weight: 500;
    font-size: 16px;
    color: #424242;
    padding-left: 20px;
}
.box-2 #best-choice{
    width: fit-content;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    background: #E03C31;
    border-radius: 4px;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    margin-left: 45px;
}
.box-2 .input-text-cost{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}
.box-2 .section-1{
    display: flex;
    flex-grow: 2;
}
.box-2 .section-2{
    display: flex;
}
.box-2 .section-3{
    display: flex;
}
.box-2 .section-4{
    display: flex;
}
.text-section-1, .text-section-2, .text-section-3, .text-section-4{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    min-width: 220px;
}
.cost-section-1, .cost-section-2, .cost-section-3, .cost-section-4{
    flex-grow: 1;
}
.box-2 input{
    width: 8px;
    color: #E03C31;
}
.box-2 .box2-input-txt{
    font-weight: 500;
    font-size: 14px;
    color: #212121;
    margin: 0;
}
.box-2 .cost, .box-2 .strike{
    display: flex;
    flex-direction: column;
}
.box-2 .cost{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #212121;
    margin: 0px;
}
.box-2 .box-2-normal-txt{
    left: 25px;
    font-size: 12px;
    color: rgba(66, 66, 66, 0.9);
    margin: 0px;
    min-width: 225px;
}
.box-2 .strike{
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    text-decoration-line: line-through;
    color: #888888;
    margin: 0;
}
.box-2 .offer-22000{
    display: flex;
    gap: 8px;
}
.box-2 .save-tag{
    font-weight: 500;
    font-size: 10px;
    width:fit-content;
    color: #077E13;
    background-color: rgba(10, 180, 27, 0.08);
    text-align: center;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0;
}
.box-2 .offer{
    text-align: center;
    font-weight: 500;
    font-size: 10px;
    color: #E03C31;
    margin: 0;
}
/*********************BOX-3*******************************/
.box-3{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.box-3 .content-img{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.box-3 #skinnsi-safe{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #424242;
    padding-left: 20px;
    margin-bottom: 0;
}
.box-3 #box-3-content{
    font-size: 14px;
    line-height: 140%;
    color: #424242;
}
.box-3 img{
    width: 100%;
    margin-right: 10px;
}
/***********************BOX-4*****************************/
.box-4{
    margin-top: 8px;
    width: 100%;
}
.box-4 ul{
    list-style-image: url(img/Vector.png);
    font-size: 14px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.8);
    padding-left: 40px;
    padding-bottom: 50px;
}
.box-4 .tags{
    background: rgba(10, 180, 27, 0.08);
    border-radius: 4px;
    padding: 4px 8px;
    color: #077E13;
    font-weight: 800;
    font-size: 14px;
    line-height: 100%;
    height: 14px;   
}
.box-4 .box-4-tags{
    padding-top: 20px;
    padding-left: 20px;
}
/********************Continue-button**********************/
.continue-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.continue-button button{
    text-align: center;
    width: 90%;
    background-color: #E03C31;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 8px;
    border: 0;
    padding: 8px;
}