html{
    min-height: 100%;
}
body {
    background: linear-gradient(45deg, #FC466B, #3F5EFB);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    width: fit-content;
    padding: 3%;

}
form input, form textarea, form select{
    background-color: rgba(255, 255, 255, 0.342);
}
form button{
    background-color: rgba(255, 255, 255, 0.749);
    border: none;
    padding: 4px;
    width: 100px;
    text-align: center;
}
input, textarea, button, select{
    border-radius: 8px;
}
table{
    margin: auto;
}
h3{
    text-align: center;
    padding-bottom: 10px;
}
table td{
    padding: 2%;
    min-width: 150px;
}