@media screen and (max-width: 900px) {
    .gameApp{
        flex-direction: column;
    }
    .left-half{
        width: fit-content;
    }
}

.gameApp{
    background-color: #ffffff;
    border: 1px solid #F7F7F7;
    box-sizing: border-box;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    margin: auto;
}
.gamePlayers{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.playersCard{
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    font-family: Arial;
    color: #000000;
    gap: 20px;
}
#profileImg1, #profileImg2{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.classForOrangeBorder{
    border: 10px solid #FFA201;
}
.right-half{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    max-width: 480px;
    padding-left: 40px;
    padding-right: 40px;
}
.right-half .gamesTournament{
    font-size: 24px;
    margin: 0;
}
.right-half #congratulation{
    /* display: none; */
    font-size: 28px;
    color: #FF6600;
    margin: 0;
}
.right-half .playingGame{
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}
.right-half button{
    cursor: pointer;
}
.left-half{
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    gap: 14px;
    background-color: #84A4FB;
    border-radius: 30px;
    padding: 40px;
}
.CirclesWhite{
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
.winningCombinationRing img{
    border-color: #FF6600 !important;
}
