.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: #FFFFFF;
  width: 50%;
  padding: 30px;
  margin: auto;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
}
.player{
  display: flex;
  gap: 12px;
  border: 1px solid #CCE2D3;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 6px;
  font-size: 18px;
  font-family: Arial;
  color: #000000;
}

.profileImgInput{
  display: none;
}
label{
  cursor: pointer;
}
.profileImg{
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.inner-player{
  width: 100%;
}
.inner-player input{
  border: 1px solid #949494;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 95%;
}
hr{
  width: 100%;
  margin: 0;
}